<div class="col-md-12">
    <h3 ng-bind="title"></h3>
</div>

<table class="table">
    <tr>
        <th>Product</th>
        <th>Image</th>
        <th>Amount</th>
        <th>Description</th>
    </tr>
    <tr ng-repeat="product in cart track by $index">
        <td class="col-md-1" ng-click="go('/Product/' + product.id)">
            {{product.name}}
        </td>
        <td class="col-md-1">
            <img ng-src="{{product.src}}" />
        </td>
        <td>
            <button type="button" class="btn btn-default" ng-click="addAmount(product)">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
            <button type="button" class="btn btn-default" ng-click="reduceAmount($index, product)">
                <span class="glyphicon glyphicon-minus"></span>
            </button>
            {{product.amount}}
        </td>
        <td>
            {{product.description}}
        </td>
        <td>
            <button type="button" class="btn btn-danger" ng-click="removeFromCart(product)">
                <span class="glyphicon glyphicon-remove"></span> Remove
            </button>
        </td>
    </tr>
</table>