<div ng-include="'Views/Partials/CarouselModal.html'"></div>
<br />
<br />
<div class="row">
    <div class="col-md-12">
        <h3 ng-bind="title"></h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-4">
                Boots always seem to get more done than shoes. While shoes are busy arguing semantics in a boardroom, boots are out in the garage welding shit. 
            </div>
            <div class="col-md-4">
                Shoes spend their weekend shanking golf balls while boots are going over, around and through every surface on earth. Truth is, shoes were for buzz-cut boys playing acoustic guitar until boots and mop tops came over from England and started a revolution. 
            </div>
            <div class="col-md-4">
                Boots have long belonged to the movers and shakers of history, and dammit if they’re not going to keep going. We picked our favorite boots in over 8 types to keep every man moving. Now get to it.
            </div>
        </div>
    </div>
</div>