<!--<div class="col-md-12">
    <h3 ng-bind="title"></h3>
</div>
<div class="col-md-12">
    <h3>Chelsea boots</h3>
</div>-->
<!--<div class="row">
    <div class="col-md-12">
        <br />
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="#" ng-click="go('/Product/' + product.id)">
                    <img src="../Gallery/Chelsea boot/fall-boots-gear-patrol-meermin2_166$.jpg" alt="meermin" class="img-thumbnail" />
                </a>
                <div class="caption">
                    <strong>Meermin</strong>
                    <p>
                        Here is a new version of the chelsea boot, made in snuff suede & full rubber soles.
                        This sophisticated chelsea boot is goodyear welted on the classic HIRO last. Finished with a full rubber sole, perfect for the colder season!
                    </p>
                    <p id="money">166$</p>
                    <button type="button"
                            class="btn btn-success"
                            ng-click="addToCart(product)">
                        Add to cart
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="#" ng-click="go('/Product/' + product.id)">
                    <img src="../Gallery/Chelsea boot/fall-boots-gear-patrol-commonprojects_498$.jpg" alt="commonprojects" class="img-thumbnail" />
                </a>
                <div class="caption">
                    <strong>Common Projects</strong>
                    <p>
                        Quality leathers and hard-wearing soles are employed in the simple forms – the only superfluous decoration being the signature model number stamped near the back of the shoe.
                    </p>
                    <p id="money">498$</p>
                    <button type="button"
                            class="btn btn-success"
                            ng-click="addToCart(product)">
                        Add to cart
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="#" ng-click="go('/Product/' + product.id)">
                    <img src="../Gallery/Chelsea boot/fall-boots-gear-patrol-lanvin_584$.jpg" alt="lanvin" class="img-thumbnail" />
                </a>
                <div class="caption">
                    <strong>Lanvin</strong>
                    <p>
                        With a design as classic as the Chelsea boot, discreet details make all the difference. This leather pair from Parisian label Lanvin have smooth, fine-grain panels at the front, with contrasting pebbled backs.
                    </p>
                    <p id="money">584$</p>
                    <button type="button"
                            class="btn btn-success"
                            ng-click="addToCart(product)">
                        Add to cart
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>-->

<div class="col-md-12">
    <h1 ng-bind="title"></h1>
</div>

<div ng-repeat="category in db.categories track by $index">
    <div class="col-md-12">
        <h2 ng-bind="category.name"></h2>
    </div>
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>Product</th>
                <th>Image</th>
                <th>Description</th>
                <th></th>
            </tr>
            <tr ng-repeat="product in db.products track by $index" 
                ng-if="product.categoryId == category.id">
                <td class="col-md-1" ng-click="go('/Product/' + product.id)">
                    {{product.name}}
                </td>
                <td class="col-md-1">
                    <img ng-src="{{product.src}}" />
                </td>
                <td>
                    {{product.description}}
                </td>
                <td>
                    <button type="button" class="btn btn-success" ng-click="addToCart(product.id)">
                        <span class="glyphicon glyphicon-plus"></span> Add to cart
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>